.container{
    text-align: center;
}
.ml4 {
    position: relative;
    text-align: center;
    font-weight: 900;
    font-size: 4.5em;
}
.ml4 .letters {
    position: absolute;
    margin: auto;
    color: olive;
    left: 0;
    top: 0.2em;
    right: 0;
    opacity: 0;
}
.gif_left{
    bottom: 20%; /* your required value */
    left: 0;
    width: 20px;
    position: absolute;
}
.gif_right{
    bottom: 20%; /* your required value */
    right: 0;
    width: 20px;
    position: absolute;
}
