
/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: purple;
    font-family: Verdana, Arial, sans-serif;

}

/* Centered text */
.centered,h1.centered{
    position: absolute;
    border-color: olive;
    background-color: aliceblue;
    border-radius: 15px;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Lucida Handwriting;

}

/* rest of the text */
.first,.second,.third, .final {
    position: absolute;
    background-color: aliceblue;
    border-radius: 15px;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Lucida Handwriting;

}